body{

	font-family: 'Raleway', sans-serif;
	padding: 35px 35px;
	background-color: silver;
} 

header{
	display: flex;
	justify-content: space-between;
}

ul#menu{
	display: flex;
}

li{
	list-style-type: none;
	padding-left: 50px
}