body{

	font-family: 'Raleway', sans-serif;
	padding: 35px 35px;
	background-color: white;
} 

header{
	display: flex;
	justify-content: space-between;
}


ul#menu{
	display: flex;
}

#menu li{
	padding-left: 50px;
	
}

li{
	list-style-type: none;
}

a{
	color: blue;
	text-decoration:none;
}

a:hover{
	color: red;
}

p{
	font-weight: bold; 
}

#btn{
	background-color: #0065FC;
	border: 1px silver;/*#0065FC à voir*/
	border-radius: 0px 10px 10px 0px;
	color: white;
}

#rechercher{
	display: flex;
}

.fa-map-marker-alt{
	border: 1px solid silver;
	background-color: #F2F2F2;
	border-radius: 10px 0px 0px 10px;
	width: 30px;
	text-align: center;
}
.fa-chart-line{
	color: black;
}

#filtrage{ 
	display: flex;
	align-items: center;
	margin-bottom: 30px;
}

.filtre{
	border: 1px solid #F2F2F2;
	margin-left: 30px;
	border-radius: 50px;
	padding-right: 20px;
}

.filtre i{
	background-color: #DEEBFF;
	border-radius: 50px;
	width: 30px;
	height: 30px;
	padding-top: 14px;
	padding-left: 14px;
}

h2{
	padding-left: 40px;
	margin-bottom: 14px;
	margin-top: 43px;
}

#hebergements{
	background-color: #F2F2F2;
	margin-right: 30px;
	flex: 2;
	padding-bottom: 50px;
	border-radius: 20px;
}

#populaires{
	background-color: #F2F2F2;
	flex: 1;
	margin-right: 30px;
	border-radius: 20px;
}

#section{
	display: flex;
	justify-content: space-around;
	background-color: white;

}
.ch{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-right: 30px;
	margin-left: 30px;
}

.hotel{
	margin: 10px 5px;
	width: 30%;
	background-color: white;
	padding: 5px 5px 5px 5px;
	/*display: flex;
	flex-direction: column;*/
	border-radius: 20px;
}


.hotel img{
	width: 100%;
	height: 120px;
	border-radius: 20px 20px 0 0;
	object-fit: cover;
}

.populaires{
	width: 30%;
	height: 40%;
	background-color: white;
	display: flex;
	justify-content: space-around;
	align-content: center;
}

.populaires img{
	border-radius: 20px 20px 0 0;
	padding: 0;
}

/*.desc{
	display: flex;
	align-items: center;
} peut-être ? 
*/

.fav{
	background-color: white;
	margin: 40px 50px 20px 50px;
	border-radius: 20px;
	display: flex;
	padding: 5px 5px 5px 5px;
}

.fav img{
	width: 160px;
	height: 150px;
	border-radius: 20px 0px 0px 20px;
}

.navigation{
	background-color: silver;
	padding-left: 62px;
	padding-right: 373px;
}


.navigation ul{
	padding-left: 0px;
}

.navigation li{
	padding-left: 0px;
	padding-bottom: 20px;
}
/*nav{
	display: flex;
	justify-content: center;
	align-content: flex-end;
}*/

.fas{
	color: #0065FC;
}

#activitées{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: -163px;
}

.act{
	margin-bottom: 137px;
	margin-top: 50px;
	display: flex;
	flex-direction: column;
}

.act img{
	width: 427px;
	height: 302px;
	border-radius: 20px 20px 0px 0px;
	margin-top: -50px;
	margin-right: -74px;
	margin-left: -33px;
	margin-bottom: 2px;
}

.activ img{
	width: 427px;
	height: 604px;
	border-radius: 20px 20px 0px 0px;
}

#sl{
	margin-left: -25px;
}

.activ{
	box-shadow: -1px 5px 10px rgba(0,0,0,0.4);
	margin-right: 53px;
	margin-left: 101px;
	margin-bottom: 253px;
	border-radius: 20px;
}

#activitées1{
	display: flex;
	flex-wrap: nowrap;
	margin-left: -115px;
}

/*.act{
	display: flex;
	flex-direction: column;
} pas bon
*/

#activitées2{
	display: flex;
	flex-wrap: nowrap;
}

.actif img{
	width: 427px;
	height: 156px;
	border-radius: 20px 20px 0px 0px;
	margin-top: 0px;
	margin-right: -68px;
	margin-left: 0px;
	margin-bottom: 18px;
}

.actif{
	box-shadow: -1px 5px 10px rgba(0,0,0,0.4);
	margin-top: 8px;
	margin-right: -74px;
	margin-left: -33px;
	margin-bottom: 2px;
	border-radius: 20px;
}

.pomègues img{
	width: 427px;
	height: 302px;
	border-radius: 20px 20px 0px 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 9px;
}

.pomègues{
	box-shadow: -1px 5px 10px rgba(0,0,0,0.4);
	margin-right: -74px;
	margin-left: -33px;
	margin-bottom: 93px;
	border-radius: 20px;
}

.longchamp img{
	width: 427px;
	height: 302px;
	border-radius: 20px 20px 0px 0px;
	margin-top: 0px;
	margin-right: -74px;
	margin-left: 0px;
	margin-bottom: 18px;
}

.longchamp{
	box-shadow: -1px 5px 10px rgba(0,0,0,0.4);
	margin-right: 2px;
	margin-left: -27px;
	margin-bottom: 74px;
	margin-top: 100px;
	border-radius: 20px;
}

.notredame img{
	width: 427px;
	height: 156px;
	border-radius: 20px 20px 0px 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 2px;
}

.notredame{
	box-shadow: -1px 5px 10px rgba(0,0,0,0.4);
	border-radius: 20px;
	margin-left: -27px;
	margin-right: 1px;
}

footer{
	display: flex;
	justify-content: space-around;
}


	/*Résolution inférieur à px*/
@media all and (max-width: 480px)
{
	body{
		width: 480px;
	}

	nav{
		width: auto;
		text-align: left;
		display: flex;
		flex-wrap: wrap;
	}

}